<a href="https://colab.research.google.com/github/aliciawill/aiserver1/blob/master/test_step1~3_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#### 1. sample예제를 간단히 만들어 테스트.

In [163]:
import pandas as pd
import numpy as np

In [164]:
data_df = pd.DataFrame([ 
    ['park1', 1],
    ['park2', 5],
    ['park3', 9],
    ['park4', 8],
    ['park5', 3]
    ],
    columns=['name', 'age_group']
    )

In [165]:
data_df

    name  age_group
0  park1          1
1  park2          5
2  park3          9
3  park4          8
4  park5          3

In [166]:
## 지정할 범위를 만들어 주자. 
## 조건의 범위가 많고, 5씩 증가하는 패턴을 보이므로, range함수 이용 
ranges = range(0, 20, 2)
list(ranges)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [167]:
items = range(0, 81, 10)

In [168]:
items2 = list(items)
items2

[0, 10, 20, 30, 40, 50, 60, 70, 80]

In [169]:
items2.append(100)

In [170]:
items2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 100]

In [171]:
len(items2)

10

## pd.cut()함수 참고 사이트
 https://pbpython.com/pandas-qcut-cut.html#:~:text=In%20a%20nutshell%2C%20that%20is,difference%20between%20cut%20and%20qcut%20.&text=If%20you%20want%20equal%20distribution,bin%20ranges%2C%20then%20use%20cut%20.

In [172]:
## 범위를 확인해보자.
result_pre = pd.cut(
                    data_df['age_group'],
                    bins = ranges
                )
result_pre 
## 아래 괄호의 의미 
## ( ===> not include
## ] ===> include

0     (0, 2]
1     (4, 6]
2    (8, 10]
3     (6, 8]
4     (2, 4]
Name: age_group, dtype: category
Categories (9, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 8] ... (10, 12] < (12, 14] <
                                         (14, 16] < (16, 18]]

In [173]:
result = pd.cut(
                    data_df['age_group'],
                    bins = ranges, 
                    labels = items
                )

# data_df['age_group']
result.value_counts() ## 각각 몇 개 인지, 세어보자

0     1
10    1
20    1
30    1
40    1
50    0
60    0
70    0
80    0
Name: age_group, dtype: int64

In [175]:
data_df['age'] = result
data_df

    name  age_group age
0  park1          1   0
1  park2          5  20
2  park3          9  40
3  park4          8  30
4  park5          3  10

In [ ]:
######## 2. colab에 file을 업로드 후, read!

In [66]:
data_df = pd.read_csv('/content/data1.csv')
data_df

             x         y  construction_cost  xgrp  house_price         r
0     0.794744  0.808956             643.08     1     10731.02  1.134032
1    -0.968111 -0.254247             905.73     1      6918.01  1.000940
2    -1.240756 -1.566003             930.39     1      5713.97  1.997960
3     0.263337 -1.862874            1187.74     1      5781.77  1.881395
4     2.008234  0.280817             887.27     1     10512.81  2.027772
...        ...       ...                ...   ...          ...       ...
2971 -1.447153 -1.416954            1363.75     1      5016.00  2.025342
2972 -1.033029  0.432536            1132.13     0      7448.50  1.119927
2973  0.629144  1.849366            1188.49     0      6546.06  1.953453
2974  1.067328  0.459943            1071.93     0      7604.59  1.162211
2975  0.270708 -1.809164             916.12     1      6927.51  1.829305

[2976 rows x 6 columns]

In [72]:
## 열에 적용하고자 하는 함수를 정의
## 대체하고자 하는 값을 return하면 된다.
def call(one) :
  if one <= 0.5 :
    return 1
  elif one > 0.5 and one <= 1.5 :
    return 2  
  else:
    return 3

In [73]:
data_df['area'] = data_df['r'].apply(call) ## 컬럼명.apple(컬럼에 적용하고자 하는 함수명)

In [74]:
data_df

             x         y  construction_cost  xgrp  house_price         r  area
0     0.794744  0.808956             643.08     1     10731.02  1.134032     2
1    -0.968111 -0.254247             905.73     1      6918.01  1.000940     2
2    -1.240756 -1.566003             930.39     1      5713.97  1.997960     3
3     0.263337 -1.862874            1187.74     1      5781.77  1.881395     3
4     2.008234  0.280817             887.27     1     10512.81  2.027772     3
...        ...       ...                ...   ...          ...       ...   ...
2971 -1.447153 -1.416954            1363.75     1      5016.00  2.025342     3
2972 -1.033029  0.432536            1132.13     0      7448.50  1.119927     2
2973  0.629144  1.849366            1188.49     0      6546.06  1.953453     3
2974  1.067328  0.459943            1071.93     0      7604.59  1.162211     2
2975  0.270708 -1.809164             916.12     1      6927.51  1.829305     3

[2976 rows x 7 columns]

In [75]:
######## 3. sheet파일이 없어서 height대신 문제2의 data_df의 xgrp로 대체함
########     xgrp 컬럼의 값 1 --> 100, 값 0 --> 'B"

In [77]:
## 몇 개인지 세어보자! 
original = data_df['xgrp']
original.value_counts()

1    2060
0     916
Name: xgrp, dtype: int64

In [79]:
## 열에 적용하고 싶은 함수를 정의
def call2(one) :
  return one + 100 ## 문제의 패턴을 보아서는 100씩 더함.

data_df['xgrp'] = data_df['xgrp'].apply(call2) ##열이름.apply(적용하고자 하는 함수 이름)
data_df['xgrp']

0       101
1       101
2       101
3       101
4       101
       ...
2971    101
2972    100
2973    100
2974    100
2975    101
Name: xgrp, Length: 2976, dtype: int64

In [80]:
## 다시 세보자
original = data_df['xgrp']
original.value_counts()

101    2060
100     916
Name: xgrp, dtype: int64